body {
    margin: 0px;
    border: 0px;
    max-width: fit-content;
}

header {
    background-color: rgb(156, 214, 244);
}

#logo {
    width: 10%;
    padding: 18px 8px;
}

.title {
    margin-bottom: 16px;
}

p {
    margin: 0px;
}

h1 {
    margin: 0px;
    font-size: 25px;
}

main {
    padding: 16px 8px;
    margin-bottom: 16px;
    font-size: 11px;
}

.subtitle {
    color: gray;
    font-size: 11px;
}

.date {
    color: lightgray;
    font-size: 10px;
}


#tim-1 {
    width: 35%;
}

#tim-2 {
    width: 30%;
}

.container {
    max-height: 30%;
    margin-bottom: 18px;
}

.caption {
    font-size: 10px;
}

span {
    background-color: yellow;
}

th {
    width: 30%;
}

ul {
    padding-left: 18px;
    margin-left: 0px;
}



thead {
    text-align: left;
    background-color: rgb(127, 166, 251);
    color: white;
}

tbody {
    tr:nth-child(odd) {
        background-color: rgb(219, 225, 238);
    }
}

footer {
    background-color: rgb(49, 58, 107);
    text-align: center;
    color: white;
    padding: 16px;
    font-size: 10px;
}